<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Instituto Electoral de Quintana Roo | UTIE © 2019 </span>
  </div>
</footer>