<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">
        <span class="menu-title">Tablero</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="?action=register">
        <span class="menu-title">Registro</span>
        <i class="mdi mdi-comment-outline menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="?action=report">
        <span class="menu-title">Reporte</span>
        <i class="mdi mdi-database menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>